.container{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: rgb(135, 168, 168);
}
.number{
   display: inline-block;
    margin: 10px;
   
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.result{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(8, 173, 8);
    background-color: rgb(38, 219, 77);
}
    
    


